
div {
    box-sizing: border-box;
    /*box-shadow:*/
    /*2px 0 0 0 #888,*/
    /*0 2px 0 0 #888,*/
    /*2px 2px 0 0 #888,   !* Just to fix the corner *!*/
    /*2px 0 0 0 #888 inset,*/
    /*0 2px 0 0 #888 inset;*/
    /*box-shadow: 0 0 1px black;*/
}

#masterContainer {
    /*background-color: cornflowerblue;*/
    display: grid;
    grid-template-columns: 77px 100px auto 40%;
    grid-template-rows: 50px auto 10%;
    /*height: 100vh; !* Fallback for browsers that do not support Custom Properties *!*/
    height: calc(var(--vh, 1vh) * 98);
    max-width: 1500px;
    user-select: none;
}

button {
    background-color: lightgray;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: lightgray;
}

::-webkit-scrollbar-thumb:hover {
    background: gray;
}

#time {
    grid-column: 1/span 2;
    grid-row: 1;
}

#eventsTitle {
    grid-column: 3;
    grid-row: 1;
    place-self: center;
}

#eventBox {
    grid-column: 2/span 2;
    grid-row: 2/span 2;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 30px auto;
    overflow: auto;
}

#eventFilter {
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#eventsContainer {
    grid-row: 2;
    overflow: auto;
    padding-left: 6px;
}

table#eventsTable {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
tr {
    border-bottom: 1px solid gray;
    opacity: 0;
    transition: opacity 0.3s;
}

th, td {
    padding: 5px;
}

/*.event {*/
/*    padding: 4px;*/
/*    opacity: 0;*/
/*    transition: opacity 1s;*/
/*    display: grid;*/
/*    grid-template-columns: auto 120px;*/
/*    grid-template-rows: auto;*/
/*}*/

/*.eventDate {*/
/*    text-align: right;*/
/*}*/

#buttonContainer {
    grid-column: 1;
    grid-row: 2/span 2;
    display: grid;
    grid-template-columns: auto;
    /*overflow: auto;*/
}

#buttonContainer button {
    margin: 0;
    height: 50px;
    border: 1px solid black;
    border-radius: 0;
    /*background-color: white;*/
}

#infoSelectContainer {
    grid-column: 4;
    grid-row: 1;
    display: grid;
    grid-template-columns: 50% 50%;
}

#infoTitle {
    padding: 5px;
}

#infoContainer > div {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: auto;
    padding: 4px;
    border-top: 1px solid black;
}

#infoContainer > div > div {
    display: grid;
    grid-template-columns: auto;
    place-self: center;
    justify-self: start;
}

.data * {
    display: grid;
    grid-template-columns: auto;
}

#citySelect, #statSelect {
    place-self: center;
}

#infoBox {
    border: 1px solid black;
    grid-column: 4;
    grid-row: 2;
    overflow: auto;
}

/*#moreContainer > button {*/
/*height: 50px;*/
/*width: 20%;*/
/*font-size: 20px;*/
/*}*/

.dropDown {
    display: grid;
    height: 50px;
}

.dropBtn {
    padding: 0;
}

.dropDownContent {
    display: none;
    position: absolute;
    left: 83px;
}

.dropDownContent > button {
    grid-row-start: 1;
    width: 75px;
}

.dropDown:hover .dropDownContent {
    display: grid;
}